@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '../styles/colors';

#app {
    display: flex;
    flex-flow: row wrap;
    margin-top: 100px;
    #eat {
        background-color: $lavender;
    }
    #fight {
        background-color: $paleAqua;
    }
    #play {
        background-color: $aeroBlue;
    }
    #sleep {
        background-color: $middleRedPurple;
    }
    .quad {
        width: 50%;
        height: 500px;
        text-align: center;
    }
}