@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
$font-style: 'Ubuntu', sans-serif;

.progress-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
        margin: 10px;
    font-family: $font-style;
    }
    #average {
        margin: 10px;
    }
}